<form
  action="/api/send"
  method="post"
  style="width: 45rem; margin: 3rem auto; overflow: hidden"
>
  <div class="form-group">
    <label for="numberFrom">보내는 사람 전화번호</label>
    <input
      type="text"
      name="numberFrom"
      class="form-control"
      placeholder="하이픈(-) 없이 입력해 주세요"
    />
  </div>
  <div class="form-group">
    <label for="numberTo">받는 사람 전화번호</label>
    <textarea
      type="text"
      name="numberTo"
      placeholder="하이픈(-) 없이 공백으로 구분하여 입력해 주세요"
      class="form-control"
      cols="30"
      rows="5"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="subject">SMS 제목</label>
    <input
      type="text"
      name="subject"
      class="form-control"
    ></input>
  </div>
  <div class="form-group">
    <label for="form-body">보낼 내용</label>
    <textarea
      name="formBody"
      id="form-body"
      cols="30"
      rows="12"
      class="form-control"
    ></textarea>
  </div>
  <div style="margin: 5px; margin-right: 15px; float: right">
    <button type="submit" class="btn btn-primary btn-margin">send</button>
    <button type="button" class="btn btn-secondary">cancel</button>
  </div>
</form>
